/* Made with love by Mutiullah Samim*/




@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{



background-image: url('https://img.freepik.com/vector-gratis/ilustracion-concepto-cuenta_114360-399.jpg?w=740&t=st=1698897286~exp=1698897886~hmac=a8b7b293c36260009cf87886880cbfd007f4cbcee72afc4fb53bd42b555118b1');
display: block;

    margin: auto;
    
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
width: 557px;
    aspect-ratio: auto 557 / 557;
    height: 627px;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}